.header {
    background-color: #333;
    font-size: 1.2rem;
    height: 56px;
    justify-content: space-between;
  }

.navbar {
    display: flex;
    align-items: center;
    height: 100%;
    width:  100%;
    justify-content: space-between;
  }

.navbarList {
    flex-direction: row;
    display: flex;
}

.navbarList li{
    place-content: center;
    margin-left: 10px;
    margin-right: 30px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
}

.login {
    font-size: 18px;
    margin-right: 10px;
    padding-right: 15px;
}