

th,td{
    background-color: rgb(32, 32, 32);
}

td {
    font-size: 12px;
    margin: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    align-items: center;
}

tbody{
    margin-right: auto;
    margin-left: auto;
}

table{
    width: 85%;
    float: right;
}